:root {
	--main_color: #1895C2;
	--light_color: #00A2EF;
	--lighter_color: #E6F4F1;
	--white: rgba(45, 91, 107, 0.05);

	--invalid_color: #EF982C;
}

/* html {
	font-size: 10px;
} */

.Logo {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
}

.NavBarContainer {
	position: sticky;
	top: 0px;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 2px solid var(--main_color);
}

.Footer {
	position: sticky;
	bottom: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-top: 2px solid var(--main_color);
	padding: 10px 0px;
}

.Main_Body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem;
	gap: 30vh;
}

.SearchResults_Body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem;
	gap: 4rem;
}

.ViewConference_Body {
	display: flex;
	margin: 1rem;
	gap: 2rem;
	min-height: calc(100% - 2 * 1rem);
}

/* .SearchResults_Headers {
	font-weight: bold;
	font-size: 14px;
} */

td.Timetable_Column {
	padding: 0 !important;
}

.Timetable_Marker {
	width: 3px;
	height: 100%;
	background: var(--main_color);
	position: absolute;
	top: 0;
	z-index: 15;
}

.Timetable_Icon {
	font-size: 1.5rem;
}

.SearchBar {
	width: 40rem;
}

.Main_Carousel {
	max-width: 25rem;
}

.TipCard {
	border: 1px solid var(--main_color);
}

.TipCard> :nth-child(2) {
	max-width: 25rem;
	max-height: 10rem;
}

.TipCard .ant-card-head {
	border-bottom: 1px solid var(--main_color);
}


/* .Main_Actions {
	width: 100%;
} */

.ErrorPage {
	height: 100vh;
	width: 100vw;
	background: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
}

.ErrorCard {
	height: 60vh;
	width: 60vw;
	background: white;
	z-index: 9999;
	border-radius: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.ant-spin-container {
	height: 100%;
}

.ant-spin-nested-loading {
	height: 100%;
}

.ant-tabs-nav {
	margin: 0 !important;
}

.ant-tabs-ink-bar {
	visibility: visible !important;
}