:root {
	--main_color: #1895c2;
}

@media only screen and (max-width: 600px) {
	.Logo {
		gap: 5px;
		font-size: 18px;
	}

	.NavBarContainer {
		padding-left: 8px;
		height: 65px;
		border-bottom: 1px solid var(--main_color);
	}

	.Footer {
		display: none;
	}

	.Main_Body {
		gap: 4rem;
		margin: 2rem;
	}

	.Main_Carousel {
		max-width: 15rem;
	}

	.TipCard> :nth-child(2) {
		max-height: fit-content;
	}

	.Main_Actions {
		display: none;
	}

	.Main_SearchSuggestions {
		display: none;
	}



}